/* css program by Eric Adamian */
/* styling elements for index.php and admin.php */

/* imported fonts */
@font-face { 
 	src: url(other/fonts/AvenirNextLTPro-Regular.otf); 
 	font-family: Avenir; 
} 

@font-face { 
 	src: url(other/fonts/OPTIMA.TTF); 
 	font-family: Optima; 
} 

/* antialiased text for alternative browsers */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/************************************************************/

/* index.php navigation bar */

/* navbar details */
.top-nav {
  overflow: hidden;
  background-color: #0a0c0e;
}

/* navbar buttons */
.top-nav a {
	float: left;
	font-family: Avenir;
	display: block;
	color: #f4f4f4;
	text-align: center;
	padding: 10px 30px 11px;
	text-decoration: none;
	font-size: 14px;
}

/* navbar button hover */
.top-nav a:hover {
  background-color: #e1e1e1;
  color: black;
}

/* navbar search container */
.top-nav .search-container {
  float: right;
  padding-top: 8px;
}

/* navbar search container */
.search-container {
	font-size: 13px;
	padding: 6px;
	padding-top: 7px;
}

/* navbar login button */
.top-nav .login button {
  	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#e1e1e1;
	border-radius:10px;
	border:1px solid #192025;
	cursor:pointer;
	color:#f4f4f4;
	font-family: Avenir;
	font-size:10px;
	padding:6px 20px 3px 20px;
}

/* navbar login button hover */
.top-nav .login button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

/************************************************************/

/* index.php/admin.php header */

/* header details */
.header {
	background-color: #e1e1e1;
	padding: 17px;
	text-align: center;
}

/* PCC logo image */
.logo {
	float: left;
	margin: 0px 0px 0px 100px;;
}

/* website title */
.title {
	color: #a1001c;
	font-size: 45px;
	line-height: 62px;
	font-family: Optima;
	margin: 20px;
}

/* subtitle for website title */
.subtitle {
	color: black;
	font-size: 40px;
	line-height: 40px;
	font-family: Optima;
	font-size: x-large;
	margin-right: 75px;
	margin-top: -2%;
    text-indent: 2em;
    padding-bottom: 5px;
}

/* logout button (admin.php) */
.logout{
	position: absolute;
	right:10px;
	top:8px;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#e1e1e1;
	border-radius:10px;
	border:1px solid #192025;
	cursor:pointer;
	color:#f4f4f4;
	font-family: Avenir;
	font-size:10px;
	padding:6px 15px 3px 15px;
	text-decoration: none;
}

/* logout button hover (admin.php) */
.logout:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
	color: #ffffff;
	text-decoration: none;
}

/************************************************************/

/* index.php/admin.php table grid */

/* table grid details */
.table-grid {
	background-color: #f4f4f4;
	padding-top: 10px;
	padding-bottom: 30px;
	font-family: Avenir;
	padding-left: 10px;
	padding-right: 10px;
}

/* grid title */
.grid-header-1 {
	color: black;
	font-size: 50px;
	line-height: 62px;
	font-family: Avenir;
	text-align: center;
	padding: 10px;
	font-size: xx-large;
}

/* table title */
.table-header {
	font-size: 16px;
	text-align: center;
	font-family: Avenir;

}

/************************************************************/

/* index.php footer */

/* footer details */
.footer {
	padding: 16px;
	background-color: #a1001c;
	text-align: center;
	color: white;
	font-size: 12px;
	padding: 10px;
	margin: 0px;
	line-height: 80%;
	text-decoration: none;
}

/* removes bootstrap hovering */
.footer a:hover {
    color: #ffffff;
}

/* extra footer details */
.footer-details {
	font-size: large;
	padding: 16px;
}

/************************************************************/
/* admin.php add job grid */

/* add job grid details */
.add-job-grid {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #e1e1e1;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Avenir;
}

/* grid title */
.grid-header-2 {
	color: black;
	font-size: 50px;
	line-height: 62px;
	font-family: Avenir;
	text-align: center;
	padding-top: 10px;
	font-size: xx-large;
	margin-bottom: -5px;
}

/* job input title */
.job-input-title {
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 5px;
	text-align: center;
	font-family: Avenir;
	font-size: 20px;
}

/* job input */
.job-input {
  font-size: 12px;
  margin: 0 auto;
  display: block;
  width: 200px;
}

/* add button */
.add-button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#e1e1e1;
	border-radius:10px;
	border:1px solid #192025;
	cursor:pointer;
	color:#f4f4f4;
	font-family: Avenir;
	font-size:10px;
	padding:6px 15px 3px 15px;
	text-decoration: none;
	margin-top: 40px;
	margin-bottom: 30px;
}

/* add button hover */
.add-button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

/* details for adding a link */
.link-note {
	font-family: Avenir;
	text-align: center;
	font-size: 12px;
	padding-top: 8px;
	line-height: 17px;
}
